<!DOCTYPE html>
<html lang="en" style="background: blue">
<head>
    <meta charset="UTF-8">
    <title style="color: red; font-size: large">Flask Web App</title>
    <style>
        html{
            background: red;
        }
    </style>
</head>
<body>
    <h1>Welcome to Flask!</h1>
    <button id="alertBtn">Click Me</button>
    <button id="helloBtn">Hello</button>

    <a href="second">second</a>

    <hr>
    <button id="changeBtn" style="color: blue; background: red">change</button>
    <input type="file" id="imageInput" accept="image/*">
    <hr>
    <img id="image" style="width: 100%" src="https://images.ctfassets.net/fiyflsm3oqjv/t76wFyJ2BmUKiaU5sN6bO/1ce142f14b596184456eba5af4b8547c/IT-Hero-ImageC.jpg">

    <script src="/static/script.js"></script>
</body>
</html>
